In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
from regime_ml.utils import load_configs
from regime_ml.data import select_data
from regime_ml.data import load_dataframe
from regime_ml.data import load_raw_data
import pandas as pd

In [10]:
macro_cfg = load_configs()["macro_data"]["regime_universe"]

In [11]:
df_macro_raw = load_raw_data(macro_cfg["parquet_path"], macro_cfg["output_path"])

Found 5 parquet files in /Users/alecmitchell-thomson/Desktop/Coding/quant-data/macro
Files to combine:
  - employment/employment.parquet
  - growth/growth.parquet
  - inflation/inflation.parquet
  - liquidity/liquidity.parquet
  - rates/rates.parquet

Loading parquet files: 100%|██████████| 5/5 [00:00<00:00, 295.51it/s]

Combining dataframes...
Combined dataframe shape: (100466, 5)
Columns: ['series_code', 'date', 'value', 'series_name', 'category']
Categories: ['rates', 'employment', 'growth', 'inflation', 'liquidity']
Unique series: 39

Saving to: /Users/alecmitchell-thomson/Desktop/Coding/regime-conditioned-equity-ml/data/raw/macro_raw.parquet
✓ Successfully saved 100,466 rows to /Users/alecmitchell-thomson/Desktop/Coding/regime-conditioned-equity-ml/data/raw/macro_raw.parquet

In [12]:
df_macro_raw = load_dataframe(macro_cfg["output_path"])
select_data(df_macro_raw, macro_cfg)

,series_code,date,value,series_name,category
0,CFNAI,2000-01-01,0.15,chicago_fed_national_activity_index,growth
1,CFNAI,2000-02-01,-0.23,chicago_fed_national_activity_index,growth
2,CFNAI,2000-03-01,0.43,chicago_fed_national_activity_index,growth
3,CFNAI,2000-04-01,0.42,chicago_fed_national_activity_index,growth
4,CFNAI,2000-05-01,-0.35,chicago_fed_national_activity_index,growth
...,...,...,...,...,...
29756,VIXCLS,2026-01-09,14.49,vix_volatility_index,growth
29757,VIXCLS,2026-01-12,15.12,vix_volatility_index,growth
29758,VIXCLS,2026-01-13,15.98,vix_volatility_index,growth
29759,VIXCLS,2026-01-14,16.75,vix_volatility_index,growth
29760,VIXCLS,2026-01-15,15.84,vix_volatility_index,growth