In [21]:
import yaml
import pandas as pd
import os

In [2]:
with open("../../../configs/data/regime_universe.yaml", "r") as f:
    regime_cfg = yaml.safe_load(f)

In [18]:
for series_id, series_cfg in regime_cfg["regime_universe"]["series"].items():
    for transform in series_cfg["transforms"]:
        transform_parts = transform.split("_")
        transform_type = transform_parts[0]
        transform_window = transform_parts[1]
        print(f"type: ", transform_type, f"{"window:":>10}", transform_window)

type:  level-z    window: 63d
type:  level-z    window: 252d
type:  level-z    window: 252d
type:  diff-21d-z    window: 252d
type:  level-z    window: 252d
type:  diff-21d-z    window: 252d
type:  level-z    window: 252d
type:  yoy-pct-change-z    window: 252d
type:  level-z    window: 252d
type:  yoy-pct-change-z    window: 252d
type:  ma    window: 4w
type:  pct-change-13w-z    window: 252d

In [25]:
df_regime_raw = pd.read_parquet(os.path.join("../../../", regime_cfg["regime_universe"]["output_path"]))
df_regime_raw

      series_code        date      value             series_name    category
0          VIXCLS  2000-01-03      24.21    vix_volatility_index      growth
1          VIXCLS  2000-01-04      27.01    vix_volatility_index      growth
2          VIXCLS  2000-01-05      26.41    vix_volatility_index      growth
3          VIXCLS  2000-01-06      25.73    vix_volatility_index      growth
4          VIXCLS  2000-01-07      21.72    vix_volatility_index      growth
...           ...         ...        ...                     ...         ...
29756        ICSA  2025-12-13  224000.00  initial_jobless_claims  employment
29757        ICSA  2025-12-20  215000.00  initial_jobless_claims  employment
29758        ICSA  2025-12-27  200000.00  initial_jobless_claims  employment
29759        ICSA  2026-01-03  207000.00  initial_jobless_claims  employment
29760        ICSA  2026-01-10  198000.00  initial_jobless_claims  employment

[29761 rows x 5 columns]

In [26]:
df_regime_raw[df_regime_raw["series_code"] == "PCEPILFE"]

      series_code        date    value series_name   category
27472    PCEPILFE  2000-01-01   74.306    pce_core  inflation
27473    PCEPILFE  2000-02-01   74.415    pce_core  inflation
27474    PCEPILFE  2000-03-01   74.568    pce_core  inflation
27475    PCEPILFE  2000-04-01   74.617    pce_core  inflation
27476    PCEPILFE  2000-05-01   74.697    pce_core  inflation
...           ...         ...      ...         ...        ...
27776    PCEPILFE  2025-05-01  125.790    pce_core  inflation
27777    PCEPILFE  2025-06-01  126.121    pce_core  inflation
27778    PCEPILFE  2025-07-01  126.426    pce_core  inflation
27779    PCEPILFE  2025-08-01  126.707    pce_core  inflation
27780    PCEPILFE  2025-09-01  126.955    pce_core  inflation

[309 rows x 5 columns]